<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <form method="post">
            <input type="hidden" name="form_tipi" value="tur">
            <input type="text" name="tur" placeholder="Tür">
            <button type="submit">Tür ekle</button>
        </form>

        <form method="post">
        <input type="hidden" name="form_tipi" value="urun">
        <input type="text" name="urun_adi" placeholder="Ürün adı">
        <input type="text" name="urun_turu" placeholder="Ürün türü">
        <input type="text" name="fiyat" placeholder="Fiyat">
        <input type="text" name="img" placeholder="Resim">
        <input type="text" name="aciklama" placeholder="aciklama">
        <button type="submit">Ürün ekle</button>
</form>
    </div>
</body>
</html>