<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Market</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<h2 style="text-align:center;margin-top:20px;">Market</h2>

<div class="products-grid">

    <div class="product">
        <div class="thumb">Ürün Fotoğrafı</div>
        <h3>Ürün Adı</h3>
        <div class="price">₺0</div>

        <div class="buy-row">
            <button class="btn btn--primary">Satın Al</button>
        </div>
    </div>

</div>

</body>
</html>