<!doctype html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>Siparişler</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<h2 style="text-align:center;margin-top:20px;">Siparişlerim</h2>

<div class="card">
    <div class="order-item">
        <div>
            <strong>Ürün Adı</strong>
            <div style="color:var(--muted);font-size:13px">1 adet</div>
        </div>

        <div>
            <strong>₺0</strong>
        </div>
    </div>
</div>

</body>
</html>